.main-app {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.menu {
    width: 250px;
    overflow: hidden;
    background-color: #fff;

    border-right: 1px solid #00000051;
    box-shadow: 1px 0px 2px #00000021;

    z-index: 100;
    transition: width 0.2s ease-out;
}

.app {
    flex: 1;
    overflow: hidden;
    background-color: #f0f0f0;
}

.menu-list {
    width: calc(100%);
}

.menu-tab-group-title {
    width: 250px;
    overflow: hidden;
    padding: 6px 18px;
    margin-top: 6px;
}

.menu-tab-group-title p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    color: #00000079;
}

.menu-item {
    width: 250px;
    overflow: hidden;
    
    display: flex;

    align-items: center;
    gap: 12px;

    padding: 9px 14px;

    cursor: pointer;

    color: #00000099;
    border-left: 2px solid #00000000;
}

.menu-item.active {
    background-color: #6AB82422;
    color: #518f1b;
    border-left: 2px solid #518f1b;
}

.menu-item:not(.active):hover {
    background-color: #f0f0f0;
}

.menu-item span {
    font-size: 21px;
}

.menu-item p {
    font-size: 13.5px;
    font-weight: 500;
    width: 200px;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .menu {
        width: 80px;
    }

    .menu-tab-group-title {
        display: none;
    }

    .menu-item {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
        gap: 6px;
    }

    .menu-item span {
        font-size: 24px;
        margin-right: 2px;
    }

    .menu-item p {
        text-align: center;
        font-size: 12px;
        width: 70px;
        white-space: wrap;
        margin-right: 2px;
    }
}

.tab {
    width: 100%;
    height: calc(100vh - 82px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px 16px;
    padding-bottom: 82px;
}

.tab::-webkit-scrollbar {
    width: 0px;
}

.tab-title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.tab-over-title {
    font-size: 14px;
    font-weight: 500;
    color: #00000099;
}

.fab-new {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;

    background-color: #518f1b;

    display: flex;
    align-items: center;

    color: #fff;
    gap: 10px;

    padding: 10px 16px;
    border-radius: 50px;

    box-shadow: 0px 1px 3px #00000061;

    opacity: 0;
    transform: scale(0.9) translateY(30px);
    pointer-events: none;

    transition: opacity 0.12s ease-out, transform 0.12s ease-out;
}

.fab-new.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.fab-new:hover {
    background-color: #3f6e15;
    cursor: pointer;
    box-shadow: 0px 2px 4px #00000041;
}

.fab-new:active {
    background-color: #2f4e0f;
    box-shadow: 0px 1px 2px #00000061;
}

.fab-new span {
    font-size: 20px;
}

.fab-new p {
    font-size: 14px;
    font-weight: 500;
    margin-top: -2px;
}

.ui-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ui-loading p {
    font-weight: 400;
}

.list {
    background-color: #ffffff;
    margin-right: 32px;
    border-radius: 5px;
    border: 1px solid #00000031;
    box-shadow: 0px 1px 3px #00000021;
    animation: list 0.15s ease-out;
}

.page-content .list {
    margin: 20px;
}

@keyframes list {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.list-item {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #00000031;
}

.list-item:not(.no-hover):hover {
    background-color: #0000000d;
}

.list-item:not(.no-hover):active {
    background-color: #0000001a;
}

.list-item:last-child {
    border-bottom: none;
}

.list-leading > span {
    transform: translateY(3px);
}

.list-content {
    flex: 1;
}

.list-content .list-title {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-content .list-description {
    font-size: 14px;
    font-weight: 400;
    color: #00000099;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-actions {
    display: flex;
    gap: 0px;
    align-items: center;
}

.list-actions .button {
    width: 38px;
    height: 38px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-actions .button:hover {
    background-color: #0000001c;
    cursor: pointer;
}

.list-actions .button:active {
    background-color: #0000002e;
}

.list-header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    animation: list 0.15s ease-out;
}

.list-header p {
    font-size: 14px;
    font-weight: 400;
    color: #00000055;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000061;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: modal-bg 0.15s ease-out;
    backdrop-filter: blur(3px);
}

@keyframes modal-bg {
    0% {
        background-color: #00000000;
    }
}

.modal-content {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #00000041;
    box-shadow: 0px 2px 4px #00000041;
    animation: modal 0.15s ease-out;
}

@keyframes modal {
    0% {
        transform: scale(0.7) translateY(10px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-content .modal-header {
    padding: 12px 14px;
    border-bottom: 1px solid #00000031;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content .modal-header p {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.modal-close {
    font-size: 20px;
    opacity: 0.5;
}

.modal-close:hover {
    cursor: pointer;
    opacity: 1;
}

.modal-content .modal-body {
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content .modal-body .modal-description {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.modal-content .modal-body .modal-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #00000031;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.modal-content .modal-body .modal-input:focus {
    outline: 3px solid #518f1b92;
    border: 1px solid #518f1b;
}


.modal-content .modal-footer {
    padding: 12px 14px;
    padding-top: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-content .modal-footer .modal-button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: #518f1b;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.modal-content .modal-footer .modal-button:hover {
    background-color: #3f6e15;
    cursor: pointer;
}

.modal-content .modal-footer .modal-button-secondary {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: #0000001c;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.modal-content .modal-footer .modal-button-secondary:hover {
    background-color: #0000002e;
    cursor: pointer;
}

.modal-content .modal-footer .modal-button-destructive {
    background-color: #bb0e0e;
    color: #ffffff;
}

.modal-content .modal-footer .modal-button-destructive:hover {
    background-color: #a00b0b;
}

.empty-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 20px 0px;
    
    animation: list 0.15s ease-out;
}

.empty-message > p {
    font-weight: 500;
    color: #00000099;
    text-align: center;
}

.empty-message > .button {
    padding: 5px 16px;
    border-radius: 5px;
    border: none;
    border: 1px solid #518f1b;
    color: #518f1b;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.empty-message > .button span {
    font-size: 21px;
}

.empty-message > .button:hover {
    background-color: #518f1b22;
    cursor: pointer;
}

.scroll-hidden {
    opacity: 0;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #000000;
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #00000041;
    animation: toast 0.15s ease-out;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000000;
    display: none;
}

.toast.visible {
    display: flex;
    animation:
        toast 0.15s 0s ease-out forwards,
        hide-toast 0.15s 4s ease-out forwards;
}

@keyframes toast {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes hide-toast {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.toast span {
    font-size: 23px;
}

.toast p {
    font-weight: 500;
}

.toast.success {
    background-color: #518f1b;
}

.toast.danger {
    background-color: #bb0e0e;
}

.toast.warning {
    background-color: #f0a500;
}

.ui-loading-bar {
    background-color: #00000020;
    position: fixed;
    top: -3px;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    z-index: 999999999999999;
    transition: top 0.1s 0.6s ease-out, opacity 0.1s 0.6s ease-out;
}

.ui-loading-bar .ui-loading-inner {
    height: 100%;
    background-color: #518f1b;
    width: 50%;
    animation: loading-bar 1.6s linear infinite;
}

.ui-loading-bar.visible {
    opacity: 1;
    top: 0;
    transition: top 0.1s 0s ease-out, opacity 0.1s 0s ease-out;
}

@keyframes loading-bar {
    0% {
        width: 0%;
        transform: translateX(-50%);
    }
    50% {
        width: 80%;
    }
    100% {
        transform: translateX(200%);
    }
}

.main-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    z-index: 9999999999999999999999999999;
}

.main-loading.hide {
    display: none;
    pointer-events: none;
}

.page {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding-top: 56px;

    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.page.visible {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px #00000021;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 16px;
    gap: 24px;
}

.page-back {
    width: 24px;
    height: 24px;
    background-color: #00000000;
    padding: 5px;
    border-radius: 300px;

    transition: background-color 0.1s ease-out, padding 0.1s ease-out, margin 0.1s ease-out;
}

.page-back:hover {
    background-color: #00000025;
    cursor: pointer;
    padding: 10px;
    margin: -5px;
}

.page-header span {
    font-size: 24px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.page-header p {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.task-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #00000051;
    border-radius: 5px;
    overflow: hidden;
}

.task-checkbox:hover {
    cursor: pointer;
    background-color: #00000029;
}

.task-checkbox-check {
    width: 100%;
    height: 100%;
    background-color: #518f1b;
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.task-checkbox-check.checked {
    opacity: 1;
    transform: scale(1);
}

.task-checkbox-check span {
    font-size: 24px;
    color: #fff;
}

.task-title {
    font-size: 15px;
}

.list-modal-input {
    border: 0;
    width: 100%;
    font-size: 15px;
    padding: 2px 0px;
    cursor: text;
}

.list-modal-input:focus {
    outline: none;
}

.item-input-cont span {
    opacity: 0.5;
}

.item-input-cont {
    padding: 13px 16px;
}

.item-checked .list-modal-input {
    text-decoration: line-through;
    opacity: 0.5;
    pointer-events: none;
    cursor: pointer;
}