/* 
login.css
-----------------------
Styles de la page de connexion
*/

.login-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    gap: 20px;
}

.login-ui {
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #00000022;
    border: 1px solid #00000033;
}

#signup-password-confirm {
    margin-top: 10px;
}

.select {
    width: 100%;
    display: flex;
}

.select > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: #f1f1f1 2px solid;
    font-size: var(--base-text);
}

.select > div:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.select > div.active {
    border-bottom: #518f1b 2px solid;
}

.login-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    animation: loginForm 0.15s ease-out;
}

@keyframes loginForm {
    0% {
        opacity: 0;
        transform: translateY(var(--base-text)) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.login-group {
    display: flex;
    flex-direction: column;
}

.login-group > label {
    margin-bottom: 5px;
    font-size: var(--base-text-sm);
    font-weight: 600;
    color: #555;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.login-group > input {
    padding: 7px var(--base-text-sm);
    border: 1px solid #00000044;
    border-radius: 5px;
    font-size: var(--base-text);
}

.login-group > input:focus {
    outline: 3px solid #518f1b44;
    border: 1px solid #518f1b;
}

.login-button {
    flex: 1;
    padding: 7px var(--base-text-sm);
    border: 1px solid #518f1b;
    border-radius: 5px;
    font-size: var(--base-text);
    background-color: #518f1b;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

.login-button:hover {
    background-color: #437516;
}

.login-button:active {
    background-color: #365e12;
}

#python-login, #python-signup {
    min-height: 70px;
    font-family: monospace;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 9px;
}

.spinner-text {
    font-size: var(--base-text);
    font-weight: 500;
}

.login-error {
    flex: 1;
    padding: 9px var(--base-text-sm);
    border-radius: 5px;
    background-color: rgb(189, 25, 13);
    color: #fff;
    display: flex;
    gap: 9px;
    align-items: flex-start;
    justify-content: flex-start;
}

.login-error-success {
    background-color: rgb(10, 145, 41);
}

.login-error-data {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.login-error-title {
    font-size: var(--base-text);
    font-weight: 500;
}

.login-error-text {
    font-size: var(--base-text-sm);
    font-weight: 400;
    opacity: 0.7;
}

.login-conds {
    font-size: var(--base-text-sm);
    text-align: center;
    opacity: 0.5;
}