* {
    font-family: Arial;
}

#userdata {
    padding: 10px;
    border: 1px solid #000;
    font-family: monospace;

    width: 600px;

    text-wrap: wrap;
}

#userprofile-data {
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 10px;
    border: 1px dashed #555;

    width: 400px;
}

#userprofile-pdp {
    width: 34px;
    height: 34px;

    min-width: 34px;
    min-height: 34px;

    border-radius: 300px;
    object-fit: cover;

    border: 1px solid #555;
}

#userprofile-content {
    flex: 1;
}

#userprofile-content * {
    padding: 0;
    margin: 0;
}

#userprofile-name {
    font-size: 1.1em;
}

#userprofile-class-name, #userprofile-establishment, #userprofile-email {
    font-size: 0.9em;
    opacity: 0.5;
}

#err {
    display: none;
    margin-bottom: 10px;
    padding: 10px;

    border: 1px dashed red;

    width: 400px;

    color: red;
}